/*common css start*/
body{
	margin: 0;
	font-family: playfair, serif;
	font-size: 16px;
	font-weight: 400;
	color: 626262;
}
/*common css end*/
/*header satrt*/
header{
	padding: 30px;
	/*border: 1px solid red;*/
}
.container{
	margin: 0 auto;
	overflow: hidden;
	width: 90%;
	/*border: 1px solid red;*/
}
.logo{
	margin-top: 8px;
    width: 12%;
	/*border: 1px solid red;*/
	float: left;
}
.logo a{}
.logo img{
	width: 100%;
}
.menu{
	width: 75%;
	/*border: 1px solid red;*/
	float: right;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	padding: 0 50px;
	display: inline-block;
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;
	transition: .33s linear;
}
.menu ul li:last-child a{
	padding-right: 0;
}
.menu ul li a:hover{
	color: #000000;
}

/*header start*/